*~
*.tum
/target
**/*.rs.bk
*.out
*.yaml
.tmp*
*.energy
*.entropy
*.gamma
*.histogram
*.time
*#
.#*
__pycache__
*.pyc
*.loaf
*.fdb_latexmk
*.fls

*.backup
*.vrb
*.toc
*.dvi
*.pdf
*.out
*.aux
*.lop
*.loaf
*.loat
*.lot
*.lof
*.eps
*.ps
*.snm
*.nav
*.log
*.blg
*.bbl
*Notes.bib
*/figs/*.mkdat
*-blx.bib
*.run.xml
*.tmp.*
arxiv*
*.mp
*.1
*.2
*.3
*.tfm
*.png
*.gz
*.idx

*.fac.tum
*.aux
*.log
*.bbl
*.blg
main.pdf
isosteric-heat.pdf
*Notes.bib
*__pycache__*
*.pyc
*.nfs*
*.cb
*.cb2